@import 'general';
@import 'desktop';
header {
  height: 8vh;
  background-color: $bg-nav;
  nav {
    display: flex;
    img.logo {
      margin-top:10px;
      margin-left: 10px;
      width:100px;
    }
    ul {
      margin-top: 15px;
      margin-left: auto;
      margin-right: 10px;
      li {
        list-style: none;
        display: inline-block;
        a:hover {
          color: white;
        }
      }
      a {
        color: darken($fg-nav, 10%);

        font-weight: bold;
      }
    }
  }
}
main {
  min-height: 70vh;
  background-color: darken($bg-art, 3%);
  section {
    article {
      display: flex;
      padding: 10px 5px;

      border:1px solid $bg-art;
      border-radius: 5px;
      img {
        display: inline-block;
        width: 150px;
      }
      h2 {
        display: block;
        text-align: center;
      }
      p {
        display: block;
        margin: 5px;
      }
    }
  }
}
.button {
  width: 60px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px 2px $btn-shadow;
}
.buy {
  @extend .button;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  background-color: lighten($btn-buy, 10%);

}
.buy:hover {
  background-color:$btn-buy;
}
.details {
  @extend .button;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  background-color: lighten($btn-details, 10%);
}
.details:hover {
  background-color: $btn-details;
}
